<md-tabs md-border-bottom md-selected="selectedIndex"
         flex layout-fill
         md-dynamic-height="false"
         md-no-pagination="false"
         md-stretch-tabs="never">
    <md-tab label="clienți" md-on-select="setClients()">
        <md-content class="md-padding">
            <h1 class="md-display-2">Tab One</h1>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat
                neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas
                lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
        </md-content>
    </md-tab>
    <md-tab label="produse" md-on-select="setProducts()">
        <md-content class="md-padding" data-ng-include="'views/agency/services.html'">

        </md-content>
    </md-tab>
    <md-tab label="prețuri" md-on-select="setPrices()">
        <md-content class="md-padding">
            <h1 class="md-display-2">Tab Three</h1>

            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie
                dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi.
                Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu
                enim scelerisque, finibus commodo lectus.</p>
        </md-content>
    </md-tab>
    <md-tab label="alte setări" md-on-select="setOthers()">
        <md-content class="md-padding">
            <h1 class="md-display-2">Tab Four</h1>

            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie
                dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi.
                Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu
                enim scelerisque, finibus commodo lectus.</p>
        </md-content>
    </md-tab>
</md-tabs>