<md-progress-linear ng-show="loading" md-mode="indeterminate"></md-progress-linear>

<div class="cal-context" ng-switch="view" layout="column" layout-fill ng-show="!loading">

    <div ng-switch-default>{{localize.getLocalizedString('_CalErrVal_')}}</div>

    <main-calendar-month
            events="events"
            current-day="currentDay"
            on-event-click="onEventClick"
            on-edit-event-click="onEditEventClick"
            on-delete-event-click="onDeleteEventClick"
            on-timespan-click="onTimespanClick"
            edit-event-html="editEventHtml"
            delete-event-html="deleteEventHtml"
            auto-open="autoOpen"
            ng-switch-when="month"></main-calendar-month>

    <main-calendar-week
            events="events"
            current-day="currentDay"
            on-event-click="onEventClick"
            ng-switch-when="week"></main-calendar-week>

    <main-calendar-day
            events="events"
            current-day="currentDay"
            on-event-click="onEventClick"
            day-view-start="dayViewStart"
            day-view-end="dayViewEnd"
            day-view-split="dayViewSplit || 30"
            ng-switch-when="day"></main-calendar-day>
</div>
